@import './normalize.css';

@import './_button.css';
@import './_header.css';
@import './_hero.css';
@import './_news-card.css';
@import './_latest-news.css';
@import './_container.css';
@import './_footer.css';
@import './_news-widget.css';
@import './_chart.css';
@import './_section.css';
@import './_page.css';

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  color: #21201c;
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media all and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

.month-switcher {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.arrow-btn {
  padding: 10px;
  font-size: 18px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.month-container {
  flex: 1;
  overflow-x: auto; /* ✅ Горизонтальный скролл */
  white-space: nowrap; /* ✅ Запрещаем перенос строк */
  display: flex;
  scroll-behavior: smooth;
}

.months-wrapper {
  display: flex;
  gap: 5px;
}

.month-btn {
  padding: 5px 10px;
  background: lightgray;
  border: none;
  cursor: pointer;
  font-size: 14px;
  min-width: 50px;
}

.month-btn.is-selected {
  background: black;
  color: white;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
